<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        /** { border: 1px solid red !important; }*/
    </style>

</head>
<body>

<div th:replace="base :: navbar"></div>
<div th:replace="base :: categorybar"></div>
<br>
<br>

<!--Header-->
<div class="container">
    <h1 class="mt-4 mb-3">Showroom <small style="color: white">Current Inventory</small></h1>
</div>

<div class="container bg-faded text-white">

    <!-- List of Products in Search Results -->
    <div th:each="product: ${productSearch}">

        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <div th:if="${product.image} != null">
                        <img class="img-fluid rounded mb-3 mb-md-0" style="height: 200px" th:src="${product.image}" alt="NO IMAGE">
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <h1 th:inline="text">[[${product.name}]]</h1>
                <div th:inline="text">Description: [[${product.description}]]</div>
                <div th:inline="text">Category: [[${product.category.name}]]</div>
                <div th:inline="text">Price: [[${product.price}]]</div>
                <div th:inline="text">Added by: [[${product.user.username}]]</div>

                <br>

                <a th:href="@{/detail/{id}(id=${product.id})}"><button type="button" class="btn btn-sm btn-primary" >Details</button></a>
                <!--                <a th:href="@{/addToCart/{id}(id=${product.id})}"><button type="button" class="btn btn-sm btn-primary" >Add to Cart</button></a>-->
                <a th:href="@{/addToCart/{id}(id=${product.id})}"><button type="button" class="btn btn-sm btn-primary" >Add to Cart</button></a>
                <br><br>
                <div th:if="${product.user.getId()} == ${product_user_id}">
                    <a th:href="@{/update/{id}(id=${product.id})}"><button type="button" class="btn btn-sm btn-warning" >Update</button></a>
                    <a th:href="@{/delete/{id}(id=${product.id})}"><button type="button" class="btn btn-sm btn-danger" >Delete</button></a>



                </div>

            </div>

        </div>

        <br>
        <hr>
        <br>

    </div>
</div>

</body>
</html>